#actual{
  background: lightblue;
  height: 100px;
}#optimal{
  background: lightgreen;
  height: 100px;
}
.axis path{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  //vector-effect: non-scaling-stroke;
}
.line {
  fill: none;
  //stroke: steelblue;
  stroke-width: 1.5px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}
.dot {
  stroke: #000;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: all;
  stroke-width: 50px;
  stroke: transparent;
  cursor: pointer;
}
.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
.handle:hover{
  border: 1px solid #999999;
 }
